<a href="/index">Back to other stories</a>
<div class="row">
  <div class="small-10 medium-9 large-8 small-centered columns">
    <% continues.each do |gif| %>
    <a href="/story/<%= gif['id'] %>/full"><img src="<%= gif['gif_url'] %>" width=700></a>
    <% end %>
  </div>

    <a href="/index/completed">Back to other stories</a>

</div>
<div>
  <% if params['page'].to_i > 0 %>
    <p><a href="/index?page=<%= params['page'].to_i - 1 %>">Previous Page</a></p>
  <% end %>
  <% if params['page'].to_i < (count / 8) %>
    <td><a href="/index?page=<%= params['page'].to_i + 1 %>">NEXT PAGE</a></td>
  <% end %>
</div>
<br>
<h5 class="text-center subheader"><small>Built by <a href="https://github.com/awortham91">Andrew Wortham</a> and <a href="https://github.com/thomascchen">Thomas Chen</a> 2015</small></h5>
