<div class="row">
  <div class="small-10 medium-9 large-8 small-centered columns text-center">
    <br>
    <img src="<%= info[0]['gif_url'] %>" width=700>
  <div>
</div>

<br>
<div class="green-background">
<h3><%= locals[:notify] %><br></h3>
<br>

<p class="text-left">
<% info.each do |entries| %>
 <%= entries['entry'] %>
<% end %>
</p>
</div>
<br>
<a href="/index">Back to other stories</a>
<br>
<br>
