<div class="row">
  <div class="small-10 medium-9 large-8 small-centered columns text-center">
    <h4>Click a gif below to continue a story.
    <br>
    Read completed stories <a href="/index/completed">here</a>!
    <br>
    Or start a new story <a href="/index/new">here</a>!</h4>
    <br>
  </div>
</div>

<div class="row">
  <div class="small-10 medium-9 large-8 small-centered columns">
    <% continues.each do |gif| %>
    <a href="/story/<%= gif['id'] %>"><img src="<%= gif['gif_url'] %>" width=700></a>
    <% end %>
  </div>
</div>

<br>
<br>
<div class="pagination-centered">
  <ul class="pagination">
    <% if params['page'].to_i > 0 %>
    <li class="arrow"><a href="/index?page=<%= params['page'].to_i - 1 %>"><h5>Previous Page</h5></a></li>
    <% end %>
    <% if params['page'].to_i < (count / 8) %>
    <li class="arrow"><a href="/index?page=<%= params['page'].to_i + 1 %>"><h5>Next Page</h5></a></li>
    <% end %>
  </ul>
</div>

<br>
<h5 class="text-center subheader"><small>Built by <a href="https://github.com/awortham91">Andrew Wortham</a> and <a href="https://github.com/thomascchen">Thomas Chen</a> 2015</small></h5>
