<!DOCTYPE html>
<html>
  <head>
    <title>StoryTime</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/foundation.min.css">
    <!-- <link rel="stylesheet" href="/home.css" -->
  </head>

  <body>

<%= yield %>

  </body>
</html>
