<!DOCTYPE html>
<html>
  <head>
    <title>Story Time</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/foundation.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/home.css">
  </head>


    <div class="row">
      <div class="small-10 medium-9 large-8 small-centered columns text-center">
        <a href="/index"><img src="/images/Story Time-logo.png" width=50%></a>
      </div>
    </div>

<%= yield %>

</html>
