<body>

<div class="row">
  <div class="small-10 medium-9 large-8 small-centered columns text-center">
    <br>
    <img src="<%= image %>" width=700>
  <div>
</div>

<br>
<form action="/index/new" method="post">
  <label for='story_bit'><h4>Start your story</h4></label><br/>
  <textarea type='textarea' name='story_bit' id='story_bit' placeholder="Once upon a time..." required></textarea>
  <input type="hidden" name="image" value="<%= image %>">
  <input class="button expand" type='submit' name='Submit' value='Submit'/>
</form>

<br>
<a href="/index">Back to other stories</a>
<br>
<br>

</body>
