
<h1>Add to the story:</h1>

<img src="<%= info[0]['gif_url'] %>">
<%= info.last['entry'] %>

<form action="/story/:story_id" method="post">
  <label for='story_bit' >Continue the Story here:</label><br/>
  <textarea type='textarea' name='story_bit' id='story_bit' required></textarea>
  <input type="hidden" name="id" value="<%= info[0]['id'] %>">
  <input type='submit' name='Submit' value='Submit' />
</form>
