body, h1, h2, h3, h4, ul {
  font-family: 'Open Sans', sans-serif;
}

/* p {
  text-indent: 60px;
} */

li {
  font-size: 50pt;
}

#last_sentence {
  font-style: italic;
}

dl dd a{
text-align:center;
}
section.sub-nav-section {
display: inline-block;
}
